In [1]:
import pandas as pd

In [11]:
df = pd.DataFrame(columns=['word', 'word_index', 'average/std', 'percent_average', 'percent_std', 'rating', 'word_count', 'divisor', 'percent'])

In [12]:
df.head()

Empty DataFrame
Columns: [word, word_index, average/std, percent_average, percent_std, rating, word_count, divisor, percent]
Index: []

In [4]:
data_to_populate = ['here.',
  2.1398739848222044,
  0.003597551157985037,
  0.001681197670284284,
  [[1, 10, 2219, 0.004506534474988734],
   [2, 21, 4575, 0.0045901639344262295],
   [3, 59, 8644, 0.0068255437297547435],
   [4, 78, 15691, 0.004971002485501243],
   [5, 140, 29252, 0.004785997538629837],
   [6, 173, 61498, 0.0028130996129955444],
   [7, 226, 113929, 0.0019836915973983796],
   [8, 268, 126791, 0.0021137146958380326],
   [9, 133, 71451, 0.0018614155155281243],
   [10, 55, 36081, 0.0015243479947895013]]]

In [5]:
data_to_populate

['here.',
 2.1398739848222044,
 0.003597551157985037,
 0.001681197670284284,
 [[1, 10, 2219, 0.004506534474988734],
  [2, 21, 4575, 0.0045901639344262295],
  [3, 59, 8644, 0.0068255437297547435],
  [4, 78, 15691, 0.004971002485501243],
  [5, 140, 29252, 0.004785997538629837],
  [6, 173, 61498, 0.0028130996129955444],
  [7, 226, 113929, 0.0019836915973983796],
  [8, 268, 126791, 0.0021137146958380326],
  [9, 133, 71451, 0.0018614155155281243],
  [10, 55, 36081, 0.0015243479947895013]]]

In [13]:
work = [['here.',1, 2.1398739848222044, 0.003597551157985037, 0.001681197670284284,None,None,None,None],
[None,1,None,None,None,1, 10, 2219, 0.004506534474988734],
[None,1,None,None,None,2, 21, 4575, 0.0045901639344262295],
[None,1,None,None,None,3, 59, 8644, 0.0068255437297547435],
[None,1,None,None,None,4, 78, 15691, 0.004971002485501243],
[None,1,None,None,None,5, 140, 29252, 0.004785997538629837],
[None,1,None,None,None,6, 173, 61498, 0.0028130996129955444],
[None,1,None,None,None,7, 226, 113929, 0.0019836915973983796],
[None,1,None,None,None,8, 268, 126791, 0.0021137146958380326],
[None,1,None,None,None,9, 133, 71451, 0.0018614155155281243],
[None,1,None,None,None,10, 55, 36081, 0.0015243479947895013]]

In [15]:
work

[['here.',
  1,
  2.1398739848222044,
  0.003597551157985037,
  0.001681197670284284,
  None,
  None,
  None,
  None],
 [None, 1, None, None, None, 1, 10, 2219, 0.004506534474988734],
 [None, 1, None, None, None, 2, 21, 4575, 0.0045901639344262295],
 [None, 1, None, None, None, 3, 59, 8644, 0.0068255437297547435],
 [None, 1, None, None, None, 4, 78, 15691, 0.004971002485501243],
 [None, 1, None, None, None, 5, 140, 29252, 0.004785997538629837],
 [None, 1, None, None, None, 6, 173, 61498, 0.0028130996129955444],
 [None, 1, None, None, None, 7, 226, 113929, 0.0019836915973983796],
 [None, 1, None, None, None, 8, 268, 126791, 0.0021137146958380326],
 [None, 1, None, None, None, 9, 133, 71451, 0.0018614155155281243],
 [None, 1, None, None, None, 10, 55, 36081, 0.0015243479947895013]]

In [16]:
labels = ['word', 'word_index', 'average/std', 'percent_average', 'percent_std', 'rating', 'word_count', 'divisor', 'percent']

In [18]:
df_add = pd.DataFrame.from_records(work, columns=labels)

In [19]:
df_add

,word,word_index,average/std,percent_average,percent_std,rating,word_count,divisor,percent
0,here.,1,2.139874,0.003598,0.001681,NaN,NaN,NaN,NaN
1,None,1,NaN,NaN,NaN,1.0,10.0,2219.0,0.004507
2,None,1,NaN,NaN,NaN,2.0,21.0,4575.0,0.004590
3,None,1,NaN,NaN,NaN,3.0,59.0,8644.0,0.006826
4,None,1,NaN,NaN,NaN,4.0,78.0,15691.0,0.004971
5,None,1,NaN,NaN,NaN,5.0,140.0,29252.0,0.004786
6,None,1,NaN,NaN,NaN,6.0,173.0,61498.0,0.002813
7,None,1,NaN,NaN,NaN,7.0,226.0,113929.0,0.001984
8,None,1,NaN,NaN,NaN,8.0,268.0,126791.0,0.002114
9,None,1,NaN,NaN,NaN,9.0,133.0,71451.0,0.001861
10,None,1,NaN,NaN,NaN,10.0,55.0,36081.0,0.001524