In [52]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import time
import operator
from collections import Counter
from operator import itemgetter
import time
import string

In [2]:
%%time
df_small = pd.read_csv('../data/small_sample.csv')
df = pd.read_csv('../data/large_sample.csv')
df_small.drop(columns=['Unnamed: 0'], inplace=True)
df.drop(columns=['Unnamed: 0'], inplace=True)
df.rating = np.ceil(df.rating)
df_small.rating = np.ceil(df_small.rating)

In [3]:
def create_count(comment):
    for x in comment.split(' '):
        if x in di:
            di[x.lower()] += 1
        else:
            di[x.lower()] = 1
    return di

In [4]:
%%time
di = dict()
df.loc[df.rating == 1].loc[df.comment.apply(lambda x: len(x.split(' ')))<30].comment.apply(create_count)
one_dict = di
di = dict()
df.loc[df.rating == 2].loc[df.comment.apply(lambda x: len(x.split(' ')))<30].comment.apply(create_count)
two_dict = di
di = dict()
df.loc[df.rating == 3].loc[df.comment.apply(lambda x: len(x.split(' ')))<30].comment.apply(create_count)
three_dict = di
di = dict()
df.loc[df.rating == 4].loc[df.comment.apply(lambda x: len(x.split(' ')))<30].comment.apply(create_count)
four_dict = di
di = dict()
df.loc[df.rating == 5].loc[df.comment.apply(lambda x: len(x.split(' ')))<30].comment.apply(create_count)
five_dict = di
di = dict()
df.loc[df.rating == 6].loc[df.comment.apply(lambda x: len(x.split(' ')))<30].comment.apply(create_count)
six_dict = di
di = dict()
df.loc[df.rating == 7].loc[df.comment.apply(lambda x: len(x.split(' ')))<30].comment.apply(create_count)
seven_dict = di
di = dict()
df.loc[df.rating == 8].loc[df.comment.apply(lambda x: len(x.split(' ')))<30].comment.apply(create_count)
eight_dict = di
di = dict()
df.loc[df.rating == 9].loc[df.comment.apply(lambda x: len(x.split(' ')))<30].comment.apply(create_count)
nine_dict = di
di = dict()
df.loc[df.rating == 10].loc[df.comment.apply(lambda x: len(x.split(' ')))<30].comment.apply(create_count)
ten_dict = di
time = '37s'

CPU times: user 36.9 s, sys: 353 ms, total: 37.2 s
Wall time: 37.4 s

In [5]:
%%time
one_counter = Counter(one_dict)
two_counter = Counter(two_dict)
three_counter = Counter(three_dict)
four_counter = Counter(four_dict)
five_counter = Counter(five_dict)
six_counter = Counter(six_dict)
seven_counter = Counter(seven_dict)
eight_counter = Counter(eight_dict)
nine_counter = Counter(nine_dict)
ten_counter = Counter(ten_dict)

CPU times: user 49.1 ms, sys: 8.91 ms, total: 58.1 ms
Wall time: 62.8 ms

In [6]:
all_counter = one_counter + two_counter + three_counter + four_counter + five_counter + six_counter + seven_counter + eight_counter + nine_counter + ten_counter

In [7]:
all_dict = dict(Counter(all_counter))

In [8]:
%%time
new_data = {k: v for k, v in all_dict.items() if v > 5}

CPU times: user 22.2 ms, sys: 1.67 ms, total: 23.9 ms
Wall time: 23 ms

In [9]:
%%time
sortedList=sorted(new_data.values())
sorted_dict = dict()
for sortedKey in sortedList:
    for key, value in new_data.items():
        if value==sortedKey:
            sorted_dict[key]=value
            
time = '1min 32sec'

CPU times: user 1min 31s, sys: 204 ms, total: 1min 31s
Wall time: 1min 32s

In [10]:
%%time
dict_list = []
for key, value in sorted_dict.items():
    temp = [key,value]
    dict_list.append(temp)

CPU times: user 44.7 ms, sys: 12.8 ms, total: 57.5 ms
Wall time: 56.8 ms

In [11]:
testing_df = df.loc[df.comment.apply(lambda x: len(x.split(' ')))<30].copy()

In [12]:
def make_it_lower(comment):
    new_comment = []
    for x in comment.split(' '):
        new_comment.append(x.lower())
    return ' '.join(new_comment)

In [13]:
%%time
testing_df['lower_comment'] = testing_df.comment.apply(lambda x: make_it_lower(x))
testing_df.drop(columns=['comment'], inplace=True)
testing_df.rename(columns={'lower_comment':'comment'}, inplace=True)

CPU times: user 2.89 s, sys: 70.1 ms, total: 2.96 s
Wall time: 2.98 s

In [14]:
def word_count(comment, word, number):
    if word in comment.split(' '):
        if word in number:
            number[word] += comment.split(' ').count(word)
        else:
            number[word] = comment.split(' ').count(word)

In [33]:
%%time
def make_report(w, z, dictionary, dataframe):
    dict_list = dictionary
    testing_df = dataframe.copy()
    labels = ['word', 'average/std', 'percent_average', 'percent_std', 'rating', 'word_count', 'divisor', 'percent', 'time']
    to_return = pd.DataFrame(columns=labels)
    for word in dict_list[int(w):int(z)]:
        start_time = time.time()
        to_append = []
        std = 0
        average = 0
        for y in range(1,11):
            number = dict()
            testing_df.loc[testing_df.rating == y].comment.apply(word_count, word=word[0], number=number)
            divisor = testing_df.loc[df.rating == y].comment.count()
            if word[0] in number:
                percent = number[word[0]]/divisor
            else:
                percent = 0
                number[word[0]] = 0
            to_append.append([word[0], None, None, None, y, number[word[0]], divisor, percent, None])
        for_array = []
        for value in to_append:
            for_array.append(value[7])
        x = np.array(for_array)
        array1 = [[word[0], (np.sum(x)/10)/(np.std(x)), np.sum(x)/10, np.std(x), None, None, None, None, time.time()-start_time]]
        for x in to_append:
            array1.append(x)
        inbetween_df = pd.DataFrame.from_records(array1, columns=labels)
        to_return = pd.concat([to_return, inbetween_df])
    return to_return

CPU times: user 9 µs, sys: 1 µs, total: 10 µs
Wall time: 14.8 µs

In [34]:
%%time
report = make_report(0,100, dict_list, testing_df)

CPU times: user 2min 32s, sys: 3.31 s, total: 2min 36s
Wall time: 2min 37s

In [37]:
report

,word,average/std,percent_average,percent_std,rating,word_count,divisor,percent,time
0,denominator,0.380951,0.000051,0.000134,NaN,NaN,NaN,NaN,1.714518
1,denominator,NaN,NaN,NaN,1.0,1.0,2219.0,0.000451,NaN
2,denominator,NaN,NaN,NaN,2.0,0.0,4575.0,0.000000,NaN
3,denominator,NaN,NaN,NaN,3.0,0.0,8644.0,0.000000,NaN
4,denominator,NaN,NaN,NaN,4.0,0.0,15691.0,0.000000,NaN
5,denominator,NaN,NaN,NaN,5.0,0.0,29252.0,0.000000,NaN
6,denominator,NaN,NaN,NaN,6.0,2.0,61498.0,0.000033,NaN
7,denominator,NaN,NaN,NaN,7.0,3.0,113929.0,0.000026,NaN
8,denominator,NaN,NaN,NaN,8.0,0.0,126791.0,0.000000,NaN
9,denominator,NaN,NaN,NaN,9.0,0.0,71451.0,0.000000,NaN
10,denominator,NaN,NaN,NaN,10.0,0.0,36081.0,0.000000,NaN
0,"target,",0.434902,0.000057,0.000132,NaN,NaN,NaN,NaN,1.872634
1,"target,",NaN,NaN,NaN,1.0,1.0,2219.0,0.000451,NaN
2,"target,",NaN,NaN,NaN,2.0,0.0,4575.0,0.000000,NaN
3,"target,",NaN,NaN,NaN,3.0,0.0,8644.0,0.000000,NaN
4,"target,",NaN,NaN,NaN,4.0,0.0,15691.0,0.000000,NaN
5,"target,",NaN,NaN,NaN,5.0,1.0,29252.0,0.000034,NaN
6,"target,",NaN,NaN,NaN,6.0,1.0,61498.0,0.000016,NaN
7,"target,",NaN,NaN,NaN,7.0,3.0,113929.0,0.000026,NaN
8,"target,",NaN,NaN,NaN,8.0,4.0,126791.0,0.000032,NaN
9,"target,",NaN,NaN,NaN,9.0,1.0,71451.0,0.000014,NaN
10,"target,",NaN,NaN,NaN,10.0,0.0,36081.0,0.000000,NaN
0,bunnies.,0.557630,0.000097,0.000174,NaN,NaN,NaN,NaN,1.690143
1,bunnies.,NaN,NaN,NaN,1.0,1.0,2219.0,0.000451,NaN
2,bunnies.,NaN,NaN,NaN,2.0,2.0,4575.0,0.000437,NaN
3,bunnies.,NaN,NaN,NaN,3.0,0.0,8644.0,0.000000,NaN
4,bunnies.,NaN,NaN,NaN,4.0,0.0,15691.0,0.000000,NaN
5,bunnies.,NaN,NaN,NaN,5.0,2.0,29252.0,0.000068,NaN
6,bunnies.,NaN,NaN,NaN,6.0,0.0,61498.0,0.000000,NaN
7,bunnies.,NaN,NaN,NaN,7.0,1.0,113929.0,0.000009,NaN
...,...,...,...,...,...,...,...,...,...
3,ugly!,NaN,NaN,NaN,3.0,0.0,8644.0,0.000000,NaN
4,ugly!,NaN,NaN,NaN,4.0,0.0,15691.0,0.000000,NaN
5,ugly!,NaN,NaN,NaN,5.0,1.0,29252.0,0.000034,NaN
6,ugly!,NaN,NaN,NaN,6.0,0.0,61498.0,0.000000,NaN
7,ugly!,NaN,NaN,NaN,7.0,1.0,113929.0,0.000009,NaN
8,ugly!,NaN,NaN,NaN,8.0,2.0,126791.0,0.000016,NaN
9,ugly!,NaN,NaN,NaN,9.0,1.0,71451.0,0.000014,NaN
10,ugly!,NaN,NaN,NaN,10.0,0.0,36081.0,0.000000,NaN
0,fueled,0.373912,0.000050,0.000134,NaN,NaN,NaN,NaN,1.567426
1,fueled,NaN,NaN,NaN,1.0,1.0,2219.0,0.000451,NaN
2,fueled,NaN,NaN,NaN,2.0,0.0,4575.0,0.000000,NaN
3,fueled,NaN,NaN,NaN,3.0,0.0,8644.0,0.000000,NaN
4,fueled,NaN,NaN,NaN,4.0,0.0,15691.0,0.000000,NaN
5,fueled,NaN,NaN,NaN,5.0,0.0,29252.0,0.000000,NaN
6,fueled,NaN,NaN,NaN,6.0,0.0,61498.0,0.000000,NaN
7,fueled,NaN,NaN,NaN,7.0,3.0,113929.0,0.000026,NaN
8,fueled,NaN,NaN,NaN,8.0,3.0,126791.0,0.000024,NaN
9,fueled,NaN,NaN,NaN,9.0,0.0,71451.0,0.000000,NaN
10,fueled,NaN,NaN,NaN,10.0,0.0,36081.0,0.000000,NaN
0,santa!,1.032922,0.000207,0.000201,NaN,NaN,NaN,NaN,1.539373
1,santa!,NaN,NaN,NaN,1.0,1.0,2219.0,0.000451,NaN
2,santa!,NaN,NaN,NaN,2.0,0.0,4575.0,0.000000,NaN
3,santa!,NaN,NaN,NaN,3.0,0.0,8644.0,0.000000,NaN
4,santa!,NaN,NaN,NaN,4.0,0.0,15691.0,0.000000,NaN
5,santa!,NaN,NaN,NaN,5.0,0.0,29252.0,0.000000,NaN
6,santa!,NaN,NaN,NaN,6.0,6.0,61498.0,0.000098,NaN
7,santa!,NaN,NaN,NaN,7.0,30.0,113929.0,0.000263,NaN
8,santa!,NaN,NaN,NaN,8.0,59.0,126791.0,0.000465,NaN
9,santa!,NaN,NaN,NaN,9.0,35.0,71451.0,0.000490,NaN
10,santa!,NaN,NaN,NaN,10.0,11.0,36081.0,0.000305,NaN

In [106]:
report.to_csv('report for {}.csv'.format('-10--5'))

In [107]:
df = pd.read_csv('report for -10--5')

In [108]:
len(dict_list)

22543

In [118]:
dict_list[22540:22542]

[['2', 12685], ['-', 17661]]

In [119]:
report

Empty DataFrame
Columns: [word, average/std, percent_average, percent_std, rating, word_count, divisor, percent, time]
Index: []

960.0

In [45]:
def write_csv(low, high, df):
    df.to_csv('report_for_{}_to_{}.csv'.format(low, high))

In [31]:
write_csv(0,100,report)

In [47]:
def loop_write_report(dictionary, dataframe, number, count):
    num = int(number)
    size = int(count)
    first = 0
    while first < num - 1:
        if first + size < num - 2:
            report = make_report(first, first + size, dictionary, dataframe)
            write_csv(first, first + size, report)
            print('dataframe written from {} to {}'.format(first, first + size))
            first = first + size + 1
        else:
            report = make_report(first, num - 1, dictionary, dataframe)
            write_csv(first, num - 1, report)
            print('dataframe written from {} to {}'.format(first, num - 1))
            print('last dataframe')
            break

In [46]:
loop_write_report(dictionary=dict_list, dataframe=testing_df, number=60, count=5)

dataframe written
dataframe written
dataframe written
dataframe written
dataframe written
dataframe written
dataframe written
dataframe written
dataframe written
last dataframe

In [41]:
type(testing_df)

pandas.core.frame.DataFrame

In [42]:
type(dict_list)

list

In [48]:
s.translate(None, string.punctuation)

NameError: name 's' is not defined

In [49]:
phrase = "hello! I wanna remove *@ .,/ if possible"

In [53]:
phrase.translate(None, string.punctuation)

TypeError: translate() takes exactly one argument (2 given)

In [ ]:
table = str.maketrans(dict.fromkeys('0123456789'))
>'123hello.jpg'.translate(table)