In [1]:
import pandas as pd
import math

In [2]:
df = pd.read_csv('new_normalized_data.csv')
df.drop(columns=['Unnamed: 0'], inplace=True)

In [3]:
df = df.loc[df.average_std < 1.5]

In [136]:
testing = df.loc[df.word.isin(['worst','love', 'diseases', 'ultimate'])]
testing = testing.reset_index(drop=True)

In [137]:
def write_normialized_statistics(series, df):
    mean_total = 0
    median_total = 0
    mode_total = 0
    mode = 0
    counter = 0
    stop_median = 0
    for x in series:
        if counter > 0:
            mean_total += counter*x
            median_total += x
            if (median_total >= 50 and stop_median == 0):
                df.loc[(df.word == series.name) & (df.type == 1), 'median'] = counter
                stop_median = 1
            if x > mode_total:
                mode_total = x
                mode = counter
        counter += 1
    df.loc[(df.word == series.name) & (df.type == 1), 'mean'] = mean_total/100
    df.loc[(df.word == series.name) & (df.type == 1), 'mode'] = mode

In [138]:
%%time
testing.groupby(testing.word).normilized_percent.apply(write_normialized_statistics, df=testing)

CPU times: user 56 ms, sys: 4.45 ms, total: 60.4 ms
Wall time: 58.1 ms

word
diseases    None
love        None
ultimate    None
worst       None
Name: normilized_percent, dtype: object

In [23]:
%%time
df.groupby(df.word).normilized_percent.apply(write_normialized_statistics, df=df)

In [ ]:
df.to_csv('new_normalized_data.csv')

In [139]:
df['zeros'] = 0
df['total_word_count'] = 0
testing['zeros'] = 0
testing['total_word_count'] = 0

In [155]:
def values_with_zeros_and_total_word_count(series, df):
    counter = 0
    number_of_zeros = 0
    total_words = 0
    for x in series:
        if (counter > 0):
            if (x < 2):
                number_of_zeros += 1
            total_words += x
        counter +=1
    df.loc[(df.word == series.name) & (df.type == 1), 'zeros'] = number_of_zeros
    df.loc[(df.word == series.name) & (df.type == 1), 'total_word_count'] = total_words

In [157]:
%%time
df.groupby(df.word).word_count.apply(values_with_zeros_and_total_word_count, df=df)

CPU times: user 35.3 s, sys: 568 ms, total: 35.8 s
Wall time: 38.5 s

word
'nuff                    None
'take                    None
'the                     None
----                     None
-1                       None
-limited                 None
0                        None
01                       None
05                       None
09                       None
1-4                      None
1-5                      None
1-6                      None
1-8                      None
10                       None
10-15                    None
1010                     None
10th                     None
11                       None
110                      None
15-20                    None
150                      None
16                       None
18                       None
18xx                     None
1910                     None
1960                     None
1995                     None
1999                     None
1v1                      None
                         ...
workerplacement          None
worlds                   None
worn                     None
worried                  None
worse                    None
worst                    None
wow                      None
writing                  None
ww2                      None
wwwbrettspillguidenno    None
xbox                     None
xmas                     None
yatzee                   None
yawn                     None
yelling                  None
youngest                 None
youth                    None
youtube                  None
yr                       None
yucata                   None
yucatade                 None
yuck                     None
z-man                    None
zero                     None
zoo                      None
zooloretto               None
–                        None
•                        None
−                        None
✔                        None
Name: word_count, Length: 2088, dtype: object

In [166]:
words = df.loc[df.type == 1]

In [168]:
words.to_csv('words.csv')

In [24]:
df = pd.read_csv('words.csv')
df = df.drop(columns=['Unnamed: 0'])

In [25]:
df = df.sort_values(by=['average_std'])

In [26]:
cols = df.columns.tolist()

In [27]:
cols = ['word',
 'total_word_count',
 'zeros',
 'average_std',
 'mean',
 'median',
 'mode',
 'percent_average',
 'percent_std',
 'rating',
 'word_count',
 'divisor',
 'percent',
 'type',
 'normilization_divisor',
 'normilized_percent']

In [28]:
df = df[cols]

In [29]:
df = df.drop(columns=['rating', 'word_count', 'divisor', 'percent'])

In [30]:
df = df.drop(columns=['normilized_percent', 'type', 'normilization_divisor', 'percent_std'])

In [31]:
df['new'] = df.percent_average.apply(lambda x: x*100)

In [33]:
df = df.drop(columns=['percent_average'])

In [34]:
df['percent_average'] = df.new.apply(lambda x: x*100)

In [35]:
df = df.drop(columns=['new'])

In [40]:
df = df.sort_values(by=['percent_average'],ascending=False)

In [41]:
df.head()

,word,total_word_count,zeros,average_std,mean,median,mode,percent_average
1289,great,53725.0,0,1.290807,7.562748,8,9,758.046962
1288,love,22575.0,0,1.076059,7.806826,9,10,376.468269
1133,boring,5024.0,0,1.040698,2.866672,3,1,367.797693
1287,best,20618.0,0,1.006746,7.934620,9,10,347.978685
1135,ever,6227.0,0,1.233311,5.106415,4,1,218.481853

In [47]:
df.loc[df.zeros >= 7]

,word,total_word_count,zeros,average_std,mean,median,mode,percent_average
1450,smjj,89.0,9,0.333333,1.0,1,1,40.881948

In [50]:
df = df.drop(1450)

In [51]:
df.loc[df.zeros >= 7]

Empty DataFrame
Columns: [word, total_word_count, zeros, average_std, mean, median, mode, percent_average]
Index: []

In [54]:
len(df)

2087

In [56]:
df.head()

,word,total_word_count,zeros,average_std,mean,median,mode,percent_average
1289,great,53725.0,0,1.290807,7.562748,8,9,758.046962
1288,love,22575.0,0,1.076059,7.806826,9,10,376.468269
1133,boring,5024.0,0,1.040698,2.866672,3,1,367.797693
1287,best,20618.0,0,1.006746,7.934620,9,10,347.978685
1135,ever,6227.0,0,1.233311,5.106415,4,1,218.481853

In [ ]:
def turn(word, df):
    for

In [ ]:
def score(comment, df):