In [172]:
import pandas as pd
import math
import numpy as np

In [2]:
df = pd.read_csv('new_normalized_data.csv')
df.drop(columns=['Unnamed: 0'], inplace=True)

In [3]:
df = df.loc[df.average_std < 1.5]

In [136]:
testing = df.loc[df.word.isin(['worst','love', 'diseases', 'ultimate'])]
testing = testing.reset_index(drop=True)

In [137]:
def write_normialized_statistics(series, df):
    mean_total = 0
    median_total = 0
    mode_total = 0
    mode = 0
    counter = 0
    stop_median = 0
    for x in series:
        if counter > 0:
            mean_total += counter*x
            median_total += x
            if (median_total >= 50 and stop_median == 0):
                df.loc[(df.word == series.name) & (df.type == 1), 'median'] = counter
                stop_median = 1
            if x > mode_total:
                mode_total = x
                mode = counter
        counter += 1
    df.loc[(df.word == series.name) & (df.type == 1), 'mean'] = mean_total/100
    df.loc[(df.word == series.name) & (df.type == 1), 'mode'] = mode

In [138]:
%%time
testing.groupby(testing.word).normilized_percent.apply(write_normialized_statistics, df=testing)

CPU times: user 56 ms, sys: 4.45 ms, total: 60.4 ms
Wall time: 58.1 ms

word
diseases    None
love        None
ultimate    None
worst       None
Name: normilized_percent, dtype: object

In [23]:
%%time
df.groupby(df.word).normilized_percent.apply(write_normialized_statistics, df=df)

In [ ]:
df.to_csv('new_normalized_data.csv')

In [139]:
df['zeros'] = 0
df['total_word_count'] = 0
testing['zeros'] = 0
testing['total_word_count'] = 0

In [155]:
def values_with_zeros_and_total_word_count(series, df):
    counter = 0
    number_of_zeros = 0
    total_words = 0
    for x in series:
        if (counter > 0):
            if (x < 2):
                number_of_zeros += 1
            total_words += x
        counter +=1
    df.loc[(df.word == series.name) & (df.type == 1), 'zeros'] = number_of_zeros
    df.loc[(df.word == series.name) & (df.type == 1), 'total_word_count'] = total_words

In [157]:
%%time
df.groupby(df.word).word_count.apply(values_with_zeros_and_total_word_count, df=df)

CPU times: user 35.3 s, sys: 568 ms, total: 35.8 s
Wall time: 38.5 s

word
'nuff                    None
'take                    None
'the                     None
----                     None
-1                       None
-limited                 None
0                        None
01                       None
05                       None
09                       None
1-4                      None
1-5                      None
1-6                      None
1-8                      None
10                       None
10-15                    None
1010                     None
10th                     None
11                       None
110                      None
15-20                    None
150                      None
16                       None
18                       None
18xx                     None
1910                     None
1960                     None
1995                     None
1999                     None
1v1                      None
                         ...
workerplacement          None
worlds                   None
worn                     None
worried                  None
worse                    None
worst                    None
wow                      None
writing                  None
ww2                      None
wwwbrettspillguidenno    None
xbox                     None
xmas                     None
yatzee                   None
yawn                     None
yelling                  None
youngest                 None
youth                    None
youtube                  None
yr                       None
yucata                   None
yucatade                 None
yuck                     None
z-man                    None
zero                     None
zoo                      None
zooloretto               None
–                        None
•                        None
−                        None
✔                        None
Name: word_count, Length: 2088, dtype: object

In [166]:
words = df.loc[df.type == 1]

In [168]:
words.to_csv('words.csv')

In [24]:
df = pd.read_csv('words.csv')
df = df.drop(columns=['Unnamed: 0'])

In [25]:
df = df.sort_values(by=['average_std'])

In [26]:
cols = df.columns.tolist()

In [27]:
cols = ['word',
 'total_word_count',
 'zeros',
 'average_std',
 'mean',
 'median',
 'mode',
 'percent_average',
 'percent_std',
 'rating',
 'word_count',
 'divisor',
 'percent',
 'type',
 'normilization_divisor',
 'normilized_percent']

In [28]:
df = df[cols]

In [29]:
df = df.drop(columns=['rating', 'word_count', 'divisor', 'percent'])

In [30]:
df = df.drop(columns=['normilized_percent', 'type', 'normilization_divisor', 'percent_std'])

In [31]:
df['new'] = df.percent_average.apply(lambda x: x*100)

In [33]:
df = df.drop(columns=['percent_average'])

In [34]:
df['percent_average'] = df.new.apply(lambda x: x*100)

In [35]:
df = df.drop(columns=['new'])

In [40]:
df = df.sort_values(by=['percent_average'],ascending=False)

In [41]:
df.head()

,word,total_word_count,zeros,average_std,mean,median,mode,percent_average
1289,great,53725.0,0,1.290807,7.562748,8,9,758.046962
1288,love,22575.0,0,1.076059,7.806826,9,10,376.468269
1133,boring,5024.0,0,1.040698,2.866672,3,1,367.797693
1287,best,20618.0,0,1.006746,7.934620,9,10,347.978685
1135,ever,6227.0,0,1.233311,5.106415,4,1,218.481853

In [47]:
df.loc[df.zeros >= 7]

,word,total_word_count,zeros,average_std,mean,median,mode,percent_average
1450,smjj,89.0,9,0.333333,1.0,1,1,40.881948

In [50]:
df = df.drop(1450)

In [51]:
df.loc[df.zeros >= 7]

Empty DataFrame
Columns: [word, total_word_count, zeros, average_std, mean, median, mode, percent_average]
Index: []

In [68]:
len(df)

2087

In [69]:
len(df.groupby(df.average_std))

2087

In [104]:
df = df.reset_index(drop=True)

In [107]:
df = df.reset_index()

In [154]:
word_list = dict()

In [155]:
def turn(word, index):
    word_list[word] = [index]

In [156]:
df.apply(lambda row: turn(row['word'], row['index']), axis=1)

0       None
1       None
2       None
3       None
4       None
5       None
6       None
7       None
8       None
9       None
10      None
11      None
12      None
13      None
14      None
15      None
16      None
17      None
18      None
19      None
20      None
21      None
22      None
23      None
24      None
25      None
26      None
27      None
28      None
29      None
        ...
2057    None
2058    None
2059    None
2060    None
2061    None
2062    None
2063    None
2064    None
2065    None
2066    None
2067    None
2068    None
2069    None
2070    None
2071    None
2072    None
2073    None
2074    None
2075    None
2076    None
2077    None
2078    None
2079    None
2080    None
2081    None
2082    None
2083    None
2084    None
2085    None
2086    None
Length: 2087, dtype: object

In [162]:
word_list['great']

[0]

In [167]:
test = pd.read_csv('../data/small_sample.csv')
test.drop(columns=['Unnamed: 0'], inplace=True)

In [168]:
def remove_punctuation(comment):
    table = str.maketrans(dict.fromkeys('@#$%^&*()_+=~`[{}]|\:;"<,>."/'))
    return comment.translate(table)

In [169]:
def replace_exclimation(comment):
    return comment.replace('!', ' <!> ').replace('?', ' <?> ')

In [170]:
%%time
test['remove_punctuation'] = test.comment.apply(lambda x: remove_punctuation(x))
test.drop(columns=['comment'], inplace=True)
test.rename(columns={'remove_punctuation':'comment'}, inplace=True)
test['replace_punctuation'] = test.comment.apply(lambda x: replace_exclimation(x))
test.drop(columns=['comment'], inplace=True)
test.rename(columns={'replace_punctuation':'comment'}, inplace=True)

CPU times: user 28.5 ms, sys: 3.14 ms, total: 31.7 ms
Wall time: 32 ms

In [173]:
test.rating = np.ceil(test.rating)

In [175]:
def make_it_lower(comment):
    new_comment = []
    for x in comment.split(' '):
        new_comment.append(x.lower())
    return ' '.join(new_comment)

In [176]:
%%time
test['lower_comment'] = test.comment.apply(lambda x: make_it_lower(x))
test.drop(columns=['comment'], inplace=True)
test.rename(columns={'lower_comment':'comment'}, inplace=True)

CPU times: user 25.3 ms, sys: 2.03 ms, total: 27.4 ms
Wall time: 35.7 ms

In [178]:
def return_array(comment):
    new_comment = []
    for x in comment.split(' '):
        if x in word_list:
            new_comment.append(word_list[x][0])
    return new_comment

In [179]:
%%time
test['new'] = test.comment.apply(lambda x: return_array(x))

CPU times: user 10.6 ms, sys: 280 µs, total: 10.9 ms
Wall time: 10.8 ms

In [180]:
test

,commenter,gameID,rating,comment,new
0,25308,37111,9.0,thematic bluff - many randomness i really ...,"[913, 3, 672, 1072]"
1,54313,12,8.0,well that ugly artwork certainly helped immers...,"[106, 1450]"
2,38165,50,8.0,love this game <!> if only the gf would play...,"[1, 652]"
3,56936,1198,5.0,set is a good game in small doses in my case v...,"[886, 886, 390, 244, 9, 14]"
4,47675,164153,6.0,so much better than descent better theme impro...,"[549, 1703, 4, 5]"
5,94529,31260,8.0,very tense and fun and i love pondering my str...,"[65, 1]"
6,122420,320,6.0,a classic,[]
7,55342,161970,5.0,rating based on 2 player game,[]
8,147851,13,8.0,a good game but sometimes the dice are against...,[]
9,171066,13291,7.0,same rating as base game new characters are go...,"[124, 239]"
10,96948,31260,8.0,great game but not sure yet how much i like it...,"[0, 1297]"
11,70621,12493,10.0,great game and very epic with lots of drama an...,"[0, 96, 0]"
12,41393,176189,8.0,knight level pledge lots of extra heroes and a...,[]
13,22801,91536,9.0,looking forward to this one i hope it'll be go...,"[78, 836, 268]"
14,88133,105551,9.0,nice worker placement concept top material lot...,"[37, 57]"
15,110653,483,8.0,a classic great game easy to learn difficult t...,"[0, 13, 102]"
16,164768,71721,7.0,very good solitaire play looking forward to tr...,"[78, 348, 215, 1, 596]"
17,29353,181,4.0,this game used to be fun when i played it as a...,[25]
18,65970,1927,2.0,really long for what it is this game should ta...,"[421, 512, 301, 113]"
19,172882,29368,8.0,a lot of great zombie fighting fun b-movie th...,"[0, 707, 0, 1293]"
20,21405,128621,8.0,nice easy euro,[]
21,46212,39856,7.0,better than i expected but not my favourite ty...,[35]
22,44168,59946,7.0,fun but feels thin not enough depth in the gam...,"[68, 267, 4, 199, 0, 19, 37, 492, 506]"
23,153331,39463,6.0,i know i'm in the minority but i dislike the f...,"[58, 174]"
24,105806,121921,9.0,best co-op i own lots of choices lots of dept...,"[3, 599, 78]"
25,64168,3955,6.0,fun game with a big group,[]
26,39803,25613,7.0,i enjoy this a great deal it's a civ game that...,"[0, 210, 96, 23, 442, 143]"
27,19827,96848,9.0,very cool if somewhat time consuming puzzle-li...,[1160]
28,14263,2842,6.0,good game for introducing people to gaming hob...,[]
29,66970,107529,7.0,players are expanding their kingdoms across a ...,"[752, 752, 833, 752, 833, 1790, 94, 833, 309, ..."
...,...,...,...,...,...
817,49577,41114,5.0,i do like deduction games because i like to de...,[681]
818,58083,92828,8.0,4-12 best with 6 absolutely no strategy requir...,"[3, 32, 43]"
819,94174,3201,7.0,replaced by the the luxe version,[]
820,170375,41,8.0,takes 2 minutes to teach it is a simple proba...,"[19, 554, 1343, 229]"
821,16863,43570,8.0,another small but mighty friedeman friese 2f g...,[930]
822,26741,34635,6.0,2-4 4 60 min 10 bernd brunnhofer michael t...,"[93, 14, 98]"
823,31749,25554,7.0,very fun to play many different ways to achiev...,[1547]
824,37301,25821,9.0,this or any game of the mafiawerewolf-family i...,"[31, 229]"
825,113784,127023,8.0,fast and simple area control battle game with ...,[242]
826,11863,19237,7.0,reservoir dogs are back,[]
827,59277,8203,8.0,a very solid strategic abstract game for all a...,"[27, 821, 1790, 1668, 1057, 1663]"
828,136082,92828,8.0,works surprisingly well with 7 players but i a...,[107]
829,95576,13,7.0,an all time classic a bit too luck-dependent t...,[1012]
830,74866,198773,9.0,plays nearly as well as the word version - may...,[]
831,47438,129622,8.0,16 cards in a bag should not be this much fun,[571]
832,116256,54043,9.0,one of my favorite two player games simple ch...,"[8, 1961, 11, 115]"
833,20323,11,6.0,it's humorous artwork somewhat masks the inter...,"[45, 13]"
834,145331,40692,7.0,definitely up for more games of this though it...,"[3, 350, 263]"
835,86287,66362,8.0,this is a very solid quick playing tile laying...,"[27, 7, 461, 1263, 168]"
836,129783,3955,10.0,as far as card games go this is the one most e...,"[7, 20, 797]"
837,178439,107529,7.0,this is a simple area control game when you do...,[38]
838,84865,43015,9.0,community 3–5 — best 5 45–90 min,"[899, 3]"
839,60679,8203,7.0,cute game,[]
840,6085,22545,9.0,like that there are multiple strategy paths an...,[135]
841,123058,21348,6.0,we didn't care for this version of ticket to r...,"[43, 292, 1297]"
842,157377,144733,9.0,the more i play the more i love this game,[1]
843,165589,40692,7.0,my first venture into the hobby and boy am i g...,"[907, 363]"
844,824,158899,8.0,one of the best family style games out there i...,"[3, 1, 1, 1091, 30]"
845,90173,8217,7.0,nice little game for two players an english p...,[]
846,109519,13,7.0,the vanilla version of this game has it's flaw...,[4]