In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('normalized_data.csv')
df.drop(columns=['Unnamed: 0'], inplace=True)

In [3]:
def write_value(series, df):
    value = 0
    counter = 0
    for x in series:
        if counter == 0:  
            value = x
        else:
            df.loc[series.index[counter], 'average_std'] = value
        counter += 1

In [4]:
%%time
df.groupby('word').average_std.apply(write_value, df=df)

CPU times: user 27.4 s, sys: 263 ms, total: 27.7 s
Wall time: 28 s

word
'             None
'44           None
'em           None
'nuff         None
'take         None
'the          None
-             None
--            None
---           None
----          None
-1            None
-limited      None
0             None
01            None
05            None
09            None
1             None
1-2           None
1-4           None
1-5           None
1-6           None
1-8           None
10            None
10-15         None
100           None
1000          None
1010          None
10th          None
11            None
110           None
              ...
york          None
you           None
you'd         None
you'll        None
you're        None
you've        None
young         None
younger       None
youngest      None
your          None
yourself      None
youth         None
youtube       None
yr            None
yucata        None
yucatade      None
yuck          None
z-man         None
zen           None
zero          None
zombicide     None
zombie        None
zombies       None
zoo           None
zooloretto    None
–             None
—             None
•             None
−             None
✔             None
Name: average_std, Length: 4647, dtype: object

In [9]:
df.head()

,word,average_std,percent_average,percent_std,rating,word_count,divisor,percent,type,normilization_divisor,normilized_percent,mean,median,mode
0,caylus,4.023446,0.00103,0.000256,NaN,NaN,NaN,NaN,1,0.010299,0.000000,6.964,11,10
1,caylus,4.023446,NaN,NaN,1.0,1.0,2177.0,0.000459,0,0.000000,4.460115,0.000,0,0
2,caylus,4.023446,NaN,NaN,2.0,5.0,4527.0,0.001104,0,0.000000,10.724178,0.000,0,0
3,caylus,4.023446,NaN,NaN,3.0,7.0,8567.0,0.000817,0,0.000000,7.933664,0.000,0,0
4,caylus,4.023446,NaN,NaN,4.0,13.0,15584.0,0.000834,0,0.000000,8.099700,0.000,0,0

In [8]:
df.word.nunique() == df.average_std.nunique()

True

In [ ]:
df.to_csv('new_normalized_data.csv')